<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>463526138738-s7tn0r6t6b3g99202ma44g3vd2gd6pdo.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.463526138738-s7tn0r6t6b3g99202ma44g3vd2gd6pdo</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>463526138738-0bdv8tl27fmve4kaq3p8n87cgi8j98ub.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyDgvHnOdcrPcCOiDs2Qz0NLZJUTxCoPJQA</string>
	<key>GCM_SENDER_ID</key>
	<string>463526138738</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.revoluxe.swipply1</string>
	<key>PROJECT_ID</key>
	<string>swipply-4c511</string>
	<key>STORAGE_BUCKET</key>
	<string>swipply-4c511.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:463526138738:ios:d7576a0046cbc37c2f43eb</string>
</dict>
</plist>